<p id="notice"><%= notice %></p>

<table class="table">
<p>
  <tr>
    <th>
      <strong>Name:</strong>
    </th>
    <td>
      <%= @rental.name %>
    </td>
  </tr>
  <tr>
    <th>
      予約情報
    </th>
    <td>
      a
    </td>
  </tr>
</p>
</table>
<div class="">
  <%= link_to '予約する', new_rental_relational_path(@rental) ,class: 'btn btn-default'%>
  <%= link_to '予約一覧', rental_relationals_path(@rental),class: 'btn btn-default' %>
</div>
<div class="">
  <%= link_to '編集', edit_rental_path(@rental) ,class: 'btn btn-default'%>
  <%= link_to '戻る', rentals_path ,class: 'btn btn-default'%>
</div>
