<p id="notice"><%= notice %></p>

<div class="text-center">
  <span id=username><%= @user.name %></span>さんの登録情報です。
</div>
<table class="table">
<tr>

<p>
  <th>
    <strong>名前:</strong>
  </th>
  <td>
    <%= @user.name %>
  </td>
</p>
</tr>

<p>
  <th>
    <strong>ユーザー権限</strong>
  </th>
  <td>
    <% if @user.adm == true%>
      管理者ユーザー
    <% else %>
      一般ユーザー
    <% end%>
  </td>
</p>
</table>
<%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-default'  %>
<%= link_to 'Back', :root , :class => 'btn btn-default' %>
