<script type="text/javascript">

</script>

<div class="text-center">
  <h1>資材管理システムへようこそ！</h1>
  <p>ユーザーログインと資材を予約してください！</p>

  <%= link_to "ユーザー確認へ",users_path ,class: 'btn btn-default'%><br>
  <%= link_to "資材一覧へ",:rentals ,class: 'btn btn-default'%>
</div>



<script >
var mapSource = [        [1,1,1,1,1, 1,1,1,1,1, 1,1,1,1,1, 1,1],
                         [1,0,0,1,1, 0,0,0,1,1, 0,0,0,0,1, 1,1],
                         [1,0,0,1,1, 0,0,0,1,1, 0,0,0,0,0, 1,1],
                         [1,0,0,0,0, 0,0,0,1,1, 0,0,0,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,1,1, 0,0,0,0,0, 0,1],

                         [1,0,0,0,0, 0,0,0,0,0, 0,0,1,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,1,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,1,0,0, 0,0],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,1,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,1,1,1, 1,1],

                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],
                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],

                         [1,0,0,0,0, 0,0,0,0,0, 0,0,0,0,0, 0,1],
                         [1,1,1,1,1, 1,1,1,1,1, 1,1,1,1,1, 1,1]];
                         var imagePath = "img/";
                         var player_position_x = 8;
                         var player_position_y = 6;
                         var enemy_position_x = [2,15];
                         var enemy_position_y = [2,15];
                         var item_positon_x = 8;
                         var item_positon_y = 7;
                         var imageSize = "30px";
                         var maxHp = "30";
                         var nowHp = "30";
                         var atack = "3";
                         var defence = "1";

    function generateMapTable(){
      $("#content").append("<table>");
      for(var i=0; i<mapSource.length; i++){
        $("#content").append("<tr>");
        for(var j=0; j<mapSource.length; j++){
          $("#content").append("<td class='mapBlock' id='map"+i+"_"+j+"'></td>");
        }
        $("#content").append("</tr>");
      }
      $("#content").append("</table>");

    }

    function setMapImage(){
      var imagePath = "img/";
      for(var i=0; i<mapSource.length; i++){
        for(var j=0; j<mapSource.length; j++){
          if(mapSource[j][i] === 0){
            $(`#map${j}_${i}`).css("background-image","url('<%= asset_path 'brick.gif'%>')").css("width",imageSize).css("height",imageSize).css("background-position","center");
          }else if(mapSource[j][i] === 1){
            $(`#map${j}_${i}`).css("background-image","url('<%= asset_path 'block.gif'%>')").css("width",imageSize).css("height",imageSize).css("background-position","center");
          }
        }
      }
    }

    function setPlayerImage(){
      $(`#map${player_position_y}_${player_position_x}`).css("background-image","url('<%= asset_path 'mario.gif'%>')").css("width",imageSize).css("height",imageSize).css("background-position","center");
    }
    function setEnemyImage(){
      for(var i=0; i<enemy_position_x.length; i++){
      $(`#map${enemy_position_y[i]}_${enemy_position_x[i]}`).css("background-image","url('<%= asset_path 'srime.gif'%>')").css("width",imageSize).css("height",imageSize).css("background-position","center");
      }
    }
    function setItemImage(){
      $(`#map${item_positon_y}_${item_positon_x}`).css("background-image","url('<%= asset_path 'ItemBox.gif'%>')").css("width",imageSize).css("height",imageSize).css("background-position","center");
    }


    function movePlayer(input){
      if(input === "left"){
        player_position_x--;
      }else if(input === "up"){
        player_position_y--;
      }
      else if(input === "right"){
        player_position_x++;
      }
      else if(input === "down"){
        player_position_y++;
      }
    }
    function moveEnemy(){
      for(var i=0; i<enemy_position_x.length; i++){
      if(Math.abs(enemy_position_x[i]-player_position_x) > Math.abs(enemy_position_y[i]-player_position_y)){
        if (enemy_position_x[i] > player_position_x) {
          if(mapSource[enemy_position_y[i]][enemy_position_x[i]-1] !== 1){
            enemy_position_x[i]--;
          }else if(mapSource[enemy_position_y[i]+1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]++;
          }else if(mapSource[enemy_position_y[i]-1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]--;
          }

        }else if (enemy_position_x[i] < player_position_x) {
          if(mapSource[enemy_position_y[i]][enemy_position_x[i]+1] !== 1){
            enemy_position_x[i]++;
          }else if(mapSource[enemy_position_y[i]+1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]++;
          }else if(mapSource[enemy_position_y[i]-1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]--;
          }
        }
      }else{
        if (enemy_position_y[i] > player_position_y) {
          if(mapSource[enemy_position_y[i]-1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]--;
          }else if(mapSource[enemy_position_y[i]][enemy_position_x[i]+1] !== 1){
            enemy_position_x[i]++;
          }else if(mapSource[enemy_position_y[i]][enemy_position_x[i]-1] !== 1){
            enemy_position_x[i]--;
          }

        }else if (enemy_position_y[i] < player_position_y) {
          if(mapSource[enemy_position_y[i]+1][enemy_position_x[i]] !== 1){
            enemy_position_y[i]++;
          }else if(mapSource[enemy_position_y[i]][enemy_position_x[i]+1] !== 1){
            enemy_position_x[i]++;
          }else if(mapSource[enemy_position_y[i]][enemy_position_x-1] !== 1){
            enemy_position_x--;
          }
        }
      }
    }
  }
    function renderText(){
      $("#HP").append(`HP:${nowHp}/${maxHp}`);
      $("#ATK").append(`ATK:${atack}`);
      $("#DEF").append(`DEF:${defence}`);
    }
    function battleProcess(){
      alert("combat!");
    }
    function closeToCombat(){
      for(var i=0; i<enemy_position_x.length; i++){
        if(Math.abs(player_position_x-enemy_position_x[i]) === 1 && Math.abs(player_position_y-enemy_position_y[i]) === 1){
          return true;
        }
      }
    }
      $(function(){
        $("#left").click(function(){
          if(closeToCombat()){battleProcess();}else{
          if(mapSource[player_position_y][player_position_x-1] !== 1){
            setMapImage();
            moveEnemy();
            movePlayer("left");
            setPlayerImage();
            setEnemyImage();
            setItemImage();
        }}});
        $("#up").click(function(){
          if(closeToCombat()){battleProcess();}else{
            if(mapSource[player_position_y-1][player_position_x] !== 1){
            setMapImage();
            moveEnemy();
            movePlayer("up");
            setPlayerImage();
            setEnemyImage();
            setItemImage();
        }}});
        $("#right").click(function(){
          if(closeToCombat()){battleProcess();}else{
          if(mapSource[player_position_y][player_position_x+1] !== 1){
          setMapImage();
          moveEnemy();
          movePlayer("right");
          setPlayerImage();
          setEnemyImage();
          setItemImage();
        }}});
        $("#down").click(function(){
          if(closeToCombat()){battleProcess();}else{
          if(mapSource[player_position_y+1][player_position_x] !== 1){
            setMapImage();
            moveEnemy();
            movePlayer("down");
            setPlayerImage();
            setEnemyImage();
            setItemImage();
        }}});
        //onLoad
        generateMapTable();
        setMapImage();
        setPlayerImage();
        setEnemyImage();
        setItemImage();
        renderText();



      });

    </script>
    <title></title>
  </head>
  <body>
    <div class="content" id="content">

    </div>
    <div class="ui" id=ui>
      <button type="button" name="button" id=left>←</button>
      <button type="button" name="button" id=up>↑</button>
      <button type="button" name="button" id=right>→</button>
      <button type="button" name="button" id=down>↓</button>
    </div>

    <div class="SystemText" id="SystemText">
      <div class="HP" id="HP">
      </div>
      <div class="ATK" id="ATK">
      </div>
      <div class="DEF" id="DEF">
      </div>
      <div class="Text" id="Text">
      </div>
    </div>
