<div class="flash">
<%= notice %>
</div>
<div class="text-center">
  <h1>予約一覧</h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>No</th>
      <th>User名</th>
      <th>資材名</th>
      <th>レンタル開始日</th>
      <th>レンタル終了日</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% a = 1%>
    <% @relationals.each do |relational| %>
      <tr>
        <th scope="row"><%= a %></th>
        <td><%= relational.u_id %></td>
        <td><%= relational.r_id %></td>
        <td><%= relational.start_day %></td>
        <td><%= relational.end_day %></td>
        <td><%= link_to '予約変更', edit_rental_relational_url(@rental, relational) %></td>
        <td><%= link_to '予約削除', rental_relational_url(@rental, relational), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% a += 1%>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', rental_path(@rental) ,class: 'btn btn-default' %>
